<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= applicationName %> <%= applicationSuffix %></title>

    <meta name="description" content="Palm">
    <meta name="author" content="Tim Clancy">

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  </head>
  <body>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="page-header">
            <h1>
              <%= applicationName %> <small><%= applicationSuffix %></small>
            </h1>
          </div>

          <!-- A panel for displaying error messages to the user. -->
          <div id="errorBox" class="collapse alert alert-danger" role="alert">
            This is where we display errors.
          </div>

          <!-- A panel for displaying status messages to the user. -->
          <div id="messageBox" class="collapse alert alert-success" role="alert">
            This is where we display status messages.
          </div>

          <!-- A panel for displaying the user's profile information. -->
          <div id="profile-pabel" class="collapse panel panel-default">
            <h2>
              Your Profile
            </h2>

            <!-- This section displays items read from the game server. -->
            <div id="profileTitle">
              Your profile data:
            </div>
            <div id="profileSpinner" class="d-flex justify-content-center">
              <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
            <ul id="profileInformation" style="list-style-type:circle">
            </ul>
          </div>

          <!-- A panel for displaying Enjin linking information. -->
          <div id="linking-panel" class="panel panel-default">
            <div id="enjinMessage">
            </div>
            <div id="linkingQR"></div>
          </div>

          <!-- A panel for displaying game assets. -->
          <div id="inventory-panel" class="collapse panel panel-default">
            <h2>
              Your Assets
            </h2>

            <!-- This section displays items read from the game server. -->
            <div id="ownedTitleGame">
              You do not own any game server assets.
            </div>
            <div id="gameServerSpinner" class="d-flex justify-content-center">
              <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
            <ul id="ownedListGame" style="list-style-type:circle">
            </ul>

            <!-- This section displays items read from the blockchain. -->
            <div id="ownedTitleEnjin">
              You do not own any Enjin ERC-1155 assets.
            </div>
            <div id="enjinSpinner" class="d-flex justify-content-center">
              <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
            <ul id="ownedListEnjin" style="list-style-type:circle">
            </ul>
          </div>

          <!-- A panel for displaying assets that are for sale. -->
          <div id="itemSalePanel" class="collapse panel panel-default">
            <h2>
              Assets for Sale
            </h2>

            <!-- This section displays items in stock. -->
            <div id="itemsInStock">
              There are no items in stock at this time.
            </div>
            <div id="itemSaleSpinner" class="d-flex justify-content-center">
              <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
            <ul id="itemsOnSale" style="list-style-type:circle">
            </ul>
          </div>

          <!-- A panel for displaying orders in the user's shopping cart. -->
          <div id="checkout-cart-panel" class="collapse panel panel-default">
            <h2 id="checkout-cart-title">
              Your Checkout Cart
            </h2>

            <!-- This section displays services added to the cart. -->
            <div id="checkout-cart-container">
              Your cart is empty.
            </div>
            <div id="checkout-cart-spinner" class="d-flex justify-content-center">
              <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
          </div>

          <!-- This div is a container for future modals. -->
          <div id="bundle-modal-container">
          </div>

          <!-- A button that logs the user out. -->
          <br />
          <button id="logoutButton" class="btn btn-primary">Logout</button>

          <!-- An alert for the most-recent error to be displayed. -->
          <div id="errorBox" class="collapse alert alert-danger" role="alert">
            This is where we display errors.
          </div>
        </div>
      </div>
    </div>

    <!-- Retrieve variables being passed from the server. -->
    <script>
      window.serverData = {};
      window.serverData.inventoryUri = '<%= gameInventoryUri %>';
      window.serverData.metadataUri = '<%= gameMetadataUri %>';
      window.serverData.profileUri = '<%= gameProfileUri %>';
      window.serverData.screeningUri = '<%= gameMintScreenUri %>';
      window.serverData.profileEnabled = ('<%= profileEnabled %>' === 'true');
      window.serverData.inventoryEnabled = ('<%= inventoryEnabled %>' === 'true');
      window.serverData.ascensionEnabled = ('<%= ascensionEnabled %>' === 'true');
      window.serverData.storeEnabled = ('<%= storeEnabled %>' === 'true');
      window.serverData.hideOutOfStockItems = ('<%= hideOutOfStockItems %>' === 'true');
      window.serverData.discountTokenEnabled = ('<%= discountTokenEnabled %>' === 'true');
      window.serverData.checkoutEnabled = ('<%= checkoutEnabled %>' === 'true');
      window.serverData.paypalEnabled = ('<%= paypalEnabled %>' === 'true');
      window.serverData.paypalClientId = '<%= paypalClientId %>';
      window.serverData.etherEnabled = ('<%= etherEnabled %>' === 'true');
    </script>

    <!-- Import requisite client-side scripts. -->
    <script src="/js/jquery.min.js" type="text/javascript"></script>
    <script src="/js/js.cookie.js" type="text/javascript"></script>
    <script src="/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/js/bootstrap-input-spinner.js" type="text/javascript"></script>
    <script src="/js/ethers-v4.min.js" type="text/javascript"></script>
    <script src="/js/dashboardScript.js" type="text/javascript"></script>
  </body>
</html>
